// 清除dl默认margin,padding
.ClearfixDl{
    margin: 0;
    padding: 0
}
.ClassifyLeft{
    position: fixed;
    top:2.625rem;
    left:0;
    width:25%;
    &>dl{
        &>dt{
            text-indent: 1.25rem;
            height:2.375rem;
            line-height: 2.375rem;
            background: #f3f3f3;
            position: relative;
            font-size: 0.875rem;
            span:nth-child(1){
                position: absolute;
                top:0.5625rem;
                left:0.625rem;
                display: inline-block;
                width: 0.3125rem;
                height: 1.25rem;
                // line-height: 1.25rem;
                background: #f3f3f3;
            }
        }
        .ClassifyShow{
            background: #fff;
        }
        .ClassifyShowColor{
            color:#FFB501;
        }
        .ClassifyShowBC{
            background: #FFB501 !important;
        }
    }
}
.ClassifyRight{
    float: right;
    width:75%;
    padding:0.3125rem;
    .ClassifyDt{
        float: left;
        width: 4.75rem;
        // height: 4.375rem;
        text-align: center;
        margin:0.4375rem;
        font-size: 0.875rem;
        &>img{
            width: 4.75rem;
            height: 4.75rem;
        }
        span:nth-child(2){
            color:#8f8f94;
        }
    }
}
// 更改组件中的样式
.ClassifyBtys{
    span:nth-child(1){
        width:37%;
    }
    span:nth-child(2){
        left:40%;
        text-align: center;
        display: inline-block;
        width: 3.5rem;
        color:#8f8f94;
        font-size: 0.875rem;
    }
    span:nth-child(3){
        width:37%;
    }
}
// 中间内容顶部边框
.classifyTop{
    border-top: 0.25rem solid #f3f3f3;
}