
// 中间内容部分 
// 轮播
.slider{
    height: 112px !important;
    .am-carousel-wrap-dot-active > span {
        background: #58bc58 !important;
    }
    .am-carousel-wrap-dot > span {
        background: #fff;
    }
    .slider-frame{
        height:112px !important;
        img{
            height: 112px;
            width: 100%;
        }
    }
} 
// navBar
.homeNavBar{
    width: 90%;
    margin-left: 5%;
    height: 180px;
    &>dt{
        width: 20%;
        text-align: center;
        margin-top: 10px;
        float: left;
        img{
            width: 70%;
            margin: 0 15%;
        }
        span{
            display: block;
            font-size: 12px;
            margin:15px 0 12px 0;
        }
    }
}
// 新人红包
.newImg{
    width: 90%;
    margin-left: 5%;
}
.homeWidth{
    width:95%;
    margin-left:2.5%;
}
// 复用样式
.fyys{
    height: 32px;
    line-height: 32px;
    &>span{
        float: left;
    }
    span:nth-child(1){
        font-size: 18px;
        font-weight: 600;
    }
    span:nth-child(2){
        margin-left:15px;
        font-size: 13px;
        padding-top:3px;
        color:#666666;
    }
    &>i{
        float: right;
        color:#2EC84F;
        padding-top:3px;
    }
}
// 左右滑动
.homeScoll{
    margin-bottom: 20px;
    &>dl{
        width: 900px;
        height: 152px;
        dt{
            padding: 5px;
            width: 100px;
            float: left;
            background: #FAFAFA;
            margin-right:17px;
            &>img{
                width:90px;
                height:90px;
            }
            &>p{
                color: #666;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size:12px;
            }
            &>span{
                font-size: 11px;
                color:#F02419;
                float: left
            }
            &>del{
                font-size: 11px;
                color:#737373;
                float: right
            }
        }
    }
}
.goodShop{
    dl{
        width: 3000px;
        height: 200px;
        dt{
            float: left;
            margin-right:20px;
            img{
                width: 345px;
                height: 200px;
            }
        } 
    }
}
.goodGoods{
    dl{
        height: 316px;
        padding:5px;
        background: #F6F9FB;
        border-radius: 10px;
        dt{
            float: left;
            width: 160px;
            margin-bottom:10px;
            margin:0 5px 10px 5px;
            // margin-right:10px;
            img{
                width:160px;
                height: 90px;
            }
        }
    }
}
// 标题复用样式
.btys{
    position: relative;
    height: 16px;
    margin:5px 0;
    &>span{
        display: inline-block;
        position: absolute;
    }
    span:nth-child(1){
        height:1px;
        width: 39%;
        border-top: 1px solid #8f8f94;
        left:0;
        top:8px;
    }
    span:nth-child(2){
        top:0;
        left:42%;
    }
    span:nth-child(3){
        height:1px;
        width: 39%;
        border-top: 1px solid #8f8f94;
        right:0;
        top:8px;
    }
}
.homeShop{
    width: 100%;
    height: 100%;
    dt:nth-child(odd){
        margin-right:4%;
    }
    dt{
        float: left;
        width: 48%;
        margin-bottom:10px;
        img{
            width: 100%;
        }
        p{
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
        }
        span:nth-child(3){
            float: left;
            color:#FB5460;
            font-size: 12px;
            font-weight: 900
        }
        span:nth-child(4){
            float: right;
            color: #8f8f94;
            font-size: 12px;
        }
    }
}