// 顶部
.homeBigTop{
    background: white;
    height:2.375rem;
    display: flex;
    flex-direction: row;
    width:100%;
    .spanOne{
        font-size: 1.125rem !important;
        width:2.375rem;
        line-height: 2.375rem;
        text-align: center;
    }
    .spanTwo{
        flex:1;
        margin:0.375rem 0 0 1.75rem;
        >span{
            display: inline-block;
            line-height: 1.5rem;
            // text-align:center;
            padding-left:2.125rem;
            height:1.5rem;
            width:15.625rem;
            background: #D9D9D9;
            color:#868686;
            border-radius:1.25rem;
            font-size: 0.8125rem;
            position: relative;
            >i{
                position: absolute;
                top:0rem;
                left:0.9375rem;
                color:white;
            }
        }
    }
    .spanThr{
        line-height: 2.375rem;
        text-align: center;
        font-size: 1.5rem !important;
        width:2.375rem;
        margin-right: 0.5rem
    }
}