*{box-sizing: border-box;}
html,body{height: 100%;overflow:hidden;overflow-y: scroll;}
ul,li,ol{ list-style:none; }
a{text-decoration: none}
body{margin: 0;padding: 0;}
body>div{height: 100%;}
#superBox{
    height:100%;
}
.page{height: 100%;}
::-webkit-scrollbar{width:0;height:0.0625rem}
::-webkit-scrollbar-thumb{
    border-radius:0.3125rem;
    // -webkit-box-shadow:inset 0 0 0.3125rem rgba(0,0,0,.2);
    background:rgba(0,0,0,.2)
}
// 屏幕适配
html{
    font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
    html {
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
    html {
        font-size: 18.75px !important;
    }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
    html {
        font-size: 20.7px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 38.4px !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1241px) {
    html {
        font-size: 51.2px !important;
    }
}